dython==0.7.0
holoviews==1.14.7
lightgbm==3.3.2
matplotlib==3.5.1
numpy==1.21.2
palettable==3.3.0
pandas==1.3.5
panel==0.12.6
scikit_learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
shap==0.40.0
tqdm==4.62.3
